# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [1]:
# type your code here
print("Nasir", 12, True, 4.5)

Nasir 12 True 4.5

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [2]:
# type your code here
print("Nasir", 12, True, 4.5,sep='-')

Nasir-12-True-4.5

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [6]:
# type your code here
print('Nasir', end=' ',)
print(True, end=' ')
print(100,end=' ')
print(12.3)

Nasir True 100 12.3

4) Can a python print function take no value to print???

In [7]:
# type your answer here
print()

# TOPIC :Variables

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [8]:
#type your code here
friend_name = "Mr.Ahmed"
age = 30
profession  = "Lawer"
qualification = 'bachelors in law'
graduation_year = 2005
law_firm = 'The Himalya Associates'
job_location = "Karachi"
year_of_joining_law_firm = 2015
height_fts = 5.10
weight_g = 70600
monthly_income_pkr = 200000

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [9]:
#type your code here 
current_year = 2024
years_after_graudation = current_year - graduation_year
years_after_graudation

19

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [16]:
#type your code here 
years_in_himalya = current_year - year_of_joining_law_firm
years_in_himalya

9

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [18]:
#type your code here 

monthly_income_dollar  = monthly_income_pkr / 278.55
monthly_income_dollar

718.0039490217196

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [20]:
#type your code here 
print(type(monthly_income_dollar))
print(int(monthly_income_dollar))

<class 'float'>
718

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [24]:
#type your code here 
print(type(weight_g))
print(weight_g/1000)
round(weight_g/1000)

<class 'int'>
70.6

71

print the year of birth of Mr. Ahmed.

In [25]:
#type your code here
year_of_birth = current_year - age
year_of_birth

1994

12) Can Rs. 100 be divided equally among 6 students? 
HINT: % operator

In [30]:
#type your 
100%6

4

# Topic: User input

13) Take students detail as user input on console. Like 
name 
father name 
contact
email
Course
Address
Days 
Timings 
And print a formatted id card of student 


                                 Saylani Mass IT Training Program
                                 _________________________________
                                         Bahdurabad Campus (HO)
                    Student Name: Abdullah Khan
                    Father Name : Amanullah Khan
                    Course      : Data Science and Artificial Intelligence 
                    Days        : Monday & Thursday 
                    Timings     : 7pm - 10pm
                    Email       : abdullah_khan@gmail.com
                    Contact     : 1234567890
                    Address     : Flat 201, Roha Arcade, CA
                    
                    
                    Saylani Welfare International Trust Head Office (Bahadurabad Karachi)

# Topic : Operators and Expression with ambiguity

14 ) What is the output of print(2 * 3 ** 3 * 4)

a) 216
b )864

15 ) What is the output of the expression  print(-18 // 4)
a) -4
b)  4
c) -5
d)  5

16) 
x = 6
y = 2
print(x ** y)
print(x // y)


a) 66
   0
    
b) 36
   0
    
c) 66
    3
    
d)  36
    3

17)
What is the output of print(10 - 4 * 2)

 a) 2
 
 
 b) 12

18 ) What is the output of print(2%6)

 a) ValueError
 b) 0.33
 c) 2

19) What is the value of the following Python Expression

  print(36 / 4)

 a) 9.0
 b) 9

20 ) In the Python statement  x =a + 5 - b:

a and b are ________
a + 5 - b is ________


a) operators, a statement


b) operands, an expression

c) terms, a group


d) operands, an equation

21) Should you use the == operator to determine whether objects of type float are equal?


Sure! Go for it.


Nope, not a good idea.

22 ) What is the value of the expression 1 + 2 ** 3 * 4?

a) 33


b) 36


c) 108


d) 4097

In [38]:
print(2%6)

2

In [42]:
a = float(input())
b  = str(type(a))


if b == "<class 'float'>":
    print("float")
else:
    print("other")

3
float

In [ ]:
df.columns = [x.replace(" ", "-")for x in df.columns]